<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>LiteAdmin-Delta-/hackathon</title>
  </head>
  <body>
    <h1>Databases</h1>
    <%dbs.databases.forEach((db)=>{%>
      <h1><a href="/dataBases/<%=db.name%>"><%=db.name%></a></h1>
    <%});%>
  </body>
</html>
